@model Askrindo.Models.MitigationCat

<div style="padding-bottom: 12px">
    <table class="layout">
        <tr>
            <td>Kelompok Mitigasi</td>
            <td style="width: 1em; text-align: center">:</td>
            <td>
                @Model.MitigationCatName (@Model.MitigationCatId)
            </td>
        </tr>
    </table>
</div>