@{
    ViewBag.Title = "Pengaturan User";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="pagetitle">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <h2>Pengaturan User</h2>
            </td>
            <td align="right">
                @*@Html.ActionLink("TreeView", "TreeView")*@
            </td>
        </tr>
    </table>
</div>
@RenderBody()