@model Askrindo.Models.ImpactCat
<div style="padding-bottom: 12px">
    <table class="layout">
        <tr>
            <td>Kriteria Dampak</td>
            <td style="width: 1em; text-align: center">:</td>
            <td>
                @Model.ImpactCatName (@Model.ImpactCatId)
            </td>
        </tr>
    </table>
</div>

