@model Askrindo.Models.RiskCat

<div style="padding-bottom: 12px">
    <table class="layout">
        <tr>
            <td>Kategori Risiko</td>
            <td style="width: 10px">:</td>
            <td>
                @Model.RiskCatName (@Model.RiskCatId)
            </td>
        </tr>
    </table>
</div>
