@model Askrindo.Models.RiskGroup

<div style="padding-bottom: 12px">
    <table class="layout">
        <tr>
            <td>Kategori Risiko</td>
            <td style="width: 10px">:</td>
            <td>
                @Model.RiskCat.RiskCatName (@Model.RiskCatId)
            </td>
        </tr>
        <tr>
            <td>Kelompok Risiko</td>
            <td style="width: 10px">:</td>
            <td>
                @Model.RiskGroupName (@Model.RiskGroupId)
            </td>
        </tr>
    </table>
</div>