@model Askrindo.Models.RiskCat

@{
    ViewBag.Title = "RiskCatDelete";
    Layout = "~/Areas/RefData/Views/Shared/_RiskClass.cshtml";
}

<h3>Hapus Kategori Risiko</h3>

<div style="padding-bottom: 12px" class="warning">
    Kategori Risiko berikut akan dihapus. Lanjutkan?
</div>

<table class="edit">
    <tr>
        <td>ID</td>
        <td style="width: 10px">:</td>
        <td>
            @Html.DisplayFor(model => model.RiskCatId)
        </td>
    </tr>
    <tr>
        <td>Nama Kategori Risiko</td>
        <td>:</td>
        <td>
            @Html.DisplayFor(model => model.RiskCatName)
        </td>
    </tr>
</table>

@using (Html.BeginForm()) {
    <div style="padding-top: 12px">
        <input type="submit" value="Hapus" />
    </div>
}

@Html.Partial("_Link_RiskCatList")
