@model Askrindo.Models.Branch

<div style="padding-top: 2px; padding-bottom: 12px; line-height: 1.3em">
    <table cellpadding="0" cellspacing="0" class="layout">
        <tr>
            <td>Cabang</td>
            <td style="width: 1em; text-align: center">:</td>
            <td>@Model.BranchName (Kelas @Model.BranchClass.ClassName) (@Model.BranchId)</td>
        </tr>
    </table>
</div>