@model Askrindo.Models.HelpMenu

<div style="padding-bottom: 12px">
    <table class="layout">
        <tr>
            <td>Menu</td>
            <td style="width: 1em; text-align: center">:</td>
            <td>
                @Model.MenuName (@Model.MenuId)
            </td>
        </tr>
    </table>
</div>