@model IEnumerable<Askrindo.Models.HelpMenu>

<ul id="sidemenu">
@foreach (var m in Model)
{
    if (m.IsVisible) { 
        <li>@Html.ActionLink(m.MenuName, "List", new { menuId = m.MenuId }, null)</li>
    }
}
</ul>