@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AskrindoLayout.cshtml";
}



<div class="pagetitle">
    <h2>Laporan</h2>
</div>

@section scripts {
    <script src="~/Scripts/map.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/gauge.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Areas/Dashboard/Scripts/dashboard.js"></script>
}