
@{
    Layout = "~/Areas/KRI/Views/Shared/KRILayout.cshtml";
}

<div class="askrindo-content-box">
    <h5>Indikator KRI : Premi Bruto</h5>

    <div>
        Premi Bruto : 200.000.000
    </div>
    <div>
        <small>Submit 2/39/2019</small>
    </div>
    <div>
        <small>by Dian Madayanti Dewi</small>
    </div>
    <hr />
    <div style="margin-bottom: 2rem;">
        <span style="background-color: darkorange;padding: 8px;">Kuning</span> <span style="font-weight: bold;"> > 100% - 120%</span>
    </div>
    <div>
        <h5>Analisa Sebab</h5>
        <p>
            Pengetahuan produk pelanggan yang kurang
        </p>
    </div>
    <div>
        <h5>Strategic Response / Mitigasi</h5>
        <p>
            Memberikan sosialisasi tentang produk dan penjelasan kepada pelanggan bahwasanya terdapat TC dalam polis yang harus dipenuhi
        </p>
    </div>
    <div>
        <h5>Sumberdaya</h5>
        <p>
            Internal Askrindo
        </p>
    </div>
    <div>
        <h5>Target Penyelesaian</h5>
        <p>
            31 August 2019
        </p>
    </div>
</div>