
<div class="row no-gutters" style="margin-top: 1rem;">
    <div class="col-sm-3">
        <div class="askrindo-bg-blue" style="padding: 10px;margin-right: 2px;height: 100%;">
            <div>Kode Risiko</div>
            <h5>@Model.RiskData.RiskCode</h5>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="askrindo-bg-blue" style="padding: 10px;height: 100%;">
            <div>Peristiwa Risiko (@Model.RiskData.RiskDate.ToString("dddd, dd MMMM yyyy"))</div>
            <h5>@Model.RiskData.RiskName</h5>
        </div>
    </div>
</div>