
@{
    ViewBag.Title = "Data Loss Event";
    Layout = "~/Areas/LossEvent/Views/Shared/_LossEvent.cshtml";
}

<div class="pagetitle">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <h2>Detail Loss Event</h2>
            </td>
            <td align="right">
                @*@Html.ActionLink("TreeView", "TreeView")*@
            </td>
        </tr>
    </table>
</div>
@RenderBody()
@section scripts{
    @RenderSection("scripts", false)
}

